.FilmPage {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 77.7%;
  margin-right: 65px;
  height: 1010px;
}

.wrapper {
  display: flex;
  /* flex-direction: row; */
}
.imgWrapper {
  height: 444px;
  width: 256px;
  margin-right: 42px;
}
.imgBlock {
  width: 100%;
  height: 356px;
  background-color: aquamarine;
  border-radius: 20px;
}

.blockLink {
  width: 100%;
  height: 56px;
}
.FilmPage {
  display: flex;
}
.descriptionFilm {
  width: 59%;
  color: #fff;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.descr {
  margin-top: 50px;
}
.tableContent {
  margin-top: 50px;
}
.tableTd {
  width: 80px;
}
.wideowrapper {
  margin-top: 100px;
  width: 100%;
  height: 500px;
}
.wideo {
  width: 100%;
  height: 100%;
}
