.Main {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 77.7%;
  margin-right: 65px;
  height: 1010px;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(266px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 1em;
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
}
.pagenation {
  text-align: center;
  color: #80858b;
}
.PagenationLink {
  margin-right: 7px;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #80858b;
  text-decoration: none;
  cursor: pointer;
}
.PagenationLink:hover {
  color: #7b61ff;
}
