.addFilms {
  width: 77.7%;
  margin-right: 65px;
}

.addFilmsWrapper {
  margin-top: 56px;

  width: 79.37%;

  min-height: 784px;
}

.blockDescription {
  height: 168px;
  background-color: #242426;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding-top: 44px;
  padding-left: 40px;
}

.InpytDescr {
  width: 100%;
  height: 56px;
  background: #323537;
  border-radius: 10px;
  border: none;
  color: #fff;
  margin-top: 8px;
}
.InputWrapper {
  width: 45.77%;
  display: flex;
  flex-direction: column;
}

.InpytDescrFile {
  direction: none;
  width: 16.8%;
  height: 56px;
  background: #323537;
  border-radius: 10px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  margin-right: 40px;
  margin-top: 32px;
  cursor: pointer;
}

.InpytDescrFileNone {
  display: none;
  z-index: -1;
}

.blockTextarea {
  padding: 40px;
  height: 168px;
  background-color: #242426;
  height: 200px;
  margin-top: 52px;
  width: 100%;
  border-radius: 10px;
}
.blockDescriptionDate {
  margin-top: 30px;
  height: 168px;
  background-color: #242426;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding-top: 44px;
  padding-left: 40px;
  padding-right: 40px;
}
.Textarea {
  background-color: #323537;
  color: #fff;
  width: 100%;

  height: 100%;
  resize: none;
  overflow: hidden;
  border: none;
}

.TextDescr {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.blockButton {
  padding: 40px 0 40px;
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: right;
}
.ButtonAdd {
  margin-left: 40px;
  width: 266px;
  height: 54px;
  background: #323537;
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: 0.4s all;
}
.ButtonAdd:hover {
  background-color: #7b61ff;
}
